[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pillow = "*"
requests = "*"
scikit-image = "*"
scikit-learn = "*"
tensorflow = "*"
install = "*"
keras = "*"
umap-learn = "*"
black = "*"
tqdm = "*"
nose = "*"
exif = "*"
ipykernel = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
